#container {
	position: relative;
	width: auto;
	margin: 0 auto;
	background: #fff;
}
.bo_page_width{width:1080px;margin:0 auto; z-index:999; position: relative;}
.bo_header{height:140px; z-index: 1;}
.bo_header_nav{height:140px;width:934px;}
.bo_header_logo{height:140px;width:146px;}
.bo_header_logo>a,.bo_header_logo>a>img{display: block;width:100%;height:100%;}
.bo_header_navTop{height:30px;width:100%;}
.bo_header_navBottom{height:111px;width:100%;overflow: hidden;}
.bo_header_navTop ul{float:right;}
.bo_header_navTop ul li{float: left;margin:0 3px;}
.bo_header_navTop ul li:first-child{line-height:30px;padding-right:73px;background:url(../img/icon_area_arrow.png) no-repeat 73px center;cursor:pointer;color:#e7008c;font-size:12px;}
.bo_header_navBottom ul li{width:110px;height:30px;line-height: 30px;text-align: center;float: left;}
.bo_header_navBottom ul{margin-top:30px}
.bo_header_navBottom ul li a{color:#E7008C;font-size:14px;font-weight:bold;}
.bo_header_navBottom ul li:hover{background:#333;cursor: pointer;}
#background {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	overflow: hidden;
}

#background .front {
	position: absolute;
	top: 0;
	width: 100%;
	height: 4900px;
	background-repeat: no-repeat;
	background-image: url(../img/Z.jpg);
	background-size: 100% auto;
	z-index: 0;
	overflow: hidden;
}

#background .back {
	position: absolute;
	top: 0;
	width: 100%;
	height: 4700px;
	background-repeat: no-repeat;
	background-image: url(../img/background_01.png);
	background-size: 100% auto;
	z-index: 0;
	overflow: hidden;
}

#con{
    padding: 76px 0 0px 0;
    position: relative;
    z-index: 10;
}
#con_1{
	width: 940px;
    height: 460px;
    margin: 0 auto;
    position: relative;
}
#con_1 h3{
	 position: absolute;
    top: -35px;
    left: -71px;
    z-index: 1;
}
#banner{
    width: 940px;
    height: 460px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
#nav{
	width: 9000px;
	position: absolute;
	left:0px;
	top:0;
}
#banner li{
	float: left;
}
#banner .prev{
	background-image: url(../img/left_1.png);
    background-repeat: no-repeat;
    width: 55px;
    height: 55px;
    text-indent: -9999px;
    position: absolute;
    top: 205px;
    left: 0px;
    display: block;
       cursor: pointer;
}
#banner .next{
	background-image: url(../img/right_1.png);
    background-repeat: no-repeat;
    width: 55px;
    height: 55px;
    text-indent: -9999px;
    position: absolute;
    top: 205px;
    right: 0px;
        cursor: pointer;
    display: block;
}





















#page_top{
	    width: 1020px;
    margin: 30px auto 0;
    text-align: right;
}
#top{
	cursor: pointer;
}
.footer{height:236px;border-top:2px solid #E7008C; background: #FFFFFF; margin-top: 36px;}
.wrap_foot{height:197px;}
.footer_im{height:100%;width:98px;background: url(../img/footerIm.jpg) no-repeat;}
.end_footerlist{padding-right:30px;}
.end_footerlist .listTitle{background: url(../img/footerTipIm.jpg) no-repeat 54px;}
.foot_list>div{float: left;margin-left:37px;margin-top:40px}
.listTitle{color:#E7008C;font-size:12px;margin-bottom:13px;}
.foot_list>div ul{margin-right:26px}
.foot_list>div ul li{margin-top:7px;}
.foot_list>div ul li a{font-size:12px;color:#333}
.foot_link{margin-top:15px;}
.footer_add{height:31px;line-height: 31px;text-align: center;color:#E7008C;border-top:1px solid #E7008C}
.foot_list>div ul li a:hover{text-decoration:underline}