/*
   9px   =      62.5%
   10px   =      77%
   11px   =      85%
   12px   =      93%
   13px   =     100%
   14px   =     108%
   15px   =     116%
   16px   =   123.1%
   17px   =     131%
   18px   =   138.5%
   19px   =   146.5%
   20px   =   153.9%
   21px   =   161.6%
   22px   =     167%
   23px   =     174%
   24px   =     182%
   25px   =     189%
 
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, ins, kbd, q, samp,
small, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	font-weight: normal;
}
strong {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
img {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
/*    vertical-align:bottom;*/
    vertical-align:top;
    background:transparent;
	} 

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



img {
　　　vertical-align: top;
　　　font-size:0;
　　　line-height: 0;
}


/*------base-------------------------------------*/

body {
	font:13px "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    *font-size:small;
    *font:x-small;
}
table {
    font-size:inherit;
    font:100%;
}

/*------clearfix-------------------------------------*/

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
 
.clearfix {
    display: inline-table;
    min-height: 1%;
}
 
/* Hides from IE-mac */
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
/* End hide from IE-mac */





a {
  text-decoration: none;
  color: #a0a0a0;
}

a:hover {
  text-decoration: underline;
}
a:hover img.linkimg{
opacity:0.6;
filter:alpha(opacity=60);
-ms-filter: "alpha( opacity=60 )";
background:none!important;
}

/*---ie---*/
a {
outline: none;
}

/*--------form-----------------------------------*/

input,select,textarea {
	outline:none;	
}



#wrapper ::selection {background: #eeeeee; color: #333333;}
#wrapper ::-moz-selection {background: #eeeeee; color: #333333;}